<link rel="stylesheet" href="flipclock/compiled/flipclock.css">
<script type="text/javascript" src="flipclock/compiled/flipclock.min.js"></script>

<div id="container">
	<div id="top_container">
		<div class="player" id="top_player">
			<player player="topPlayer" ng-if="topPlayer.profilePath"></player>
			<div id="arrow_right"></div>
		</div>
		<div id="top_hand">
			<img ng-repeat="card in topHand track by $index" class="cardsTop img-rounded" ng-src="{{card}}" ng-style="topStyle[$index]">
		</div>
		<div class="player" id="right_player">
			<player player="rightPlayer" ng-if="rightPlayer.profilePath"></player>
			<div id="arrow_down"></div>
		</div>
	</div>

	<div id="mid_container">
		<div id="left_hand">
			<img ng-repeat="card in leftHand track by $index" class="cardsLeft img-rounded" ng-src="{{card}}" ng-style="leftStyle[$index]">
		</div>
		<div id="center">
			<div id="gameMsgContainer">
				<h1 class="gameMsg text-center">{{msg}}</h1>
				<h1 class="winners" ng-repeat="winner in winners">{{winner}}</h1>
				<div class="center-block" id="turnTimer"></div>
			</div>
			<div id="played">
				<deck ng-if="!gameStart"></deck>
				<img ng-repeat="card in startingHand track by $index" class="startingHand img-rounded" ng-src="{{card}}" ng-style="translate[$index]">
				<img ng-repeat="card in cardsPlayed" class="played img-rounded" ng-src="{{card}}" ng-style="translate[$index]">				
			</div>
			<div id="discard_pile">
				<img ng-repeat="card in cardsDiscarded" class="discarded img-rounded" ng-src="{{card}}" ng-style="translate2[$index]">
			</div>
		</div>
		<div id="right_hand">
			<img ng-repeat="card in rightHand track by $index" class="cardsRight img-rounded" ng-src="{{card}}" ng-style="rightStyle[$index]">
		</div>
	</div>

	<div id="bot_container">
		<div>
			<div class="player" id="left_player">
				<player player="leftPlayer" ng-if="leftPlayer.profilePath"></player>
				<div id="arrow_up"></div>
			</div>
			<div id="my_hand">
				<button class="pull-right btn btn-primary" ng-if="!gameStart" ng-click="ready()">Ready</button>
				<button class="pull-right btn btn-primary" ng-if="aiButton && !gameStart" ng-click="ai()">vs A.I.</button>
				<button class="pull-right btn btn-primary" ng-if="gameStart" ng-click="pass()">Pass</button>
				<button class="pull-right btn btn-primary" ng-if="gameStart" ng-click="play()">Play</button>
				<button class="btn btn-primary" id="cardbackBtn" ng-if="!gameStart" ng-click="open()">Change Cardback</button>
				<img ng-repeat="card in bottomHand" class="cardsBottom img-rounded" ng-src="static/img/{{card}}.png" ng-style="bottomStyle[$index]" ng-class="{'cardsBottom': !clicked, 'selected': clicked}" ng-click="clicked = !clicked">
			</div>
			<div id="btn_block">
				<button class="btn btn-primary" uib-popover-template="rules.templateUrl" popover-title="13 Rules" popover-trigger="'outsideClick : outsideClick'" popover-placement="left" id="rules">Game Rules</button>
				<a href="#/main" class="btn btn-primary" role="button" id="leave" ng-if="!gameStart" ng-click="leave()">Leave</a>
			</div>
			<div class="player" id="bottom_player">
				<player player="user" ng-if="user.profilePath"></player>
				<div id="arrow_left"></div>
			</div>
		</div>
		<div class="alert alert-danger alert-dismissible" role="alert" id="alert_block" ng-if="alertMsg">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="clearAlert()"><span aria-hidden="true">&times;</span></button>
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span>{{alertMsg}}</span>
		</div>
		<div class="msgBlock" id="msgBlock2"></div>
		<form class="input-group" id="chatInput">
			<input type="text" class="form-control" placeholder="Enter chat" id="chat" ng-model="chat">
			<span class="input-group-btn">
				<input class="btn btn-primary" type="submit" value="Send" id="send" ng-click="send()">
			</span>
		</form>

		<span style="margin-left: 10px;">Created and Developed by: Jae Hoon Kim</span>
	</div>
	<!-- Modal -->
	<div class="cardbackModal">
		<script type="text/ng-template" id="cardback.html">
			<div class="modal-header">
				<h3 class="modal-title" id="modal-title" style="color: black">Choose a Cardback</h3>
			</div>
			<div class="modal-body" id="modal-body">
				<label class="cbLabel">
					<input type="radio" ng-model="$cbCtrl.cardback" value="card01.jpg">
					<img src="static/img/card01.jpg">
				</label>
				<label class="cbLabel">
					<input type="radio" ng-model="$cbCtrl.cardback" value="card02.jpg">
					<img src="static/img/card02.jpg">
				</label>
				<label class="cbLabel">
					<input type="radio" ng-model="$cbCtrl.cardback" value="card03.jpg">
					<img src="static/img/card03.jpg">
				</label>
				<label class="cbLabel">
					<input type="radio" ng-model="$cbCtrl.cardback" value="card04.jpg">
					<img src="static/img/card04.jpg">
				</label>
				<label class="cbLabel">
					<input type="radio" ng-model="$cbCtrl.cardback" value="card05.jpg">
					<img src="static/img/card05.jpg">
				</label>
				<label class="cbLabel">
					<input type="radio" ng-model="$cbCtrl.cardback" value="card06.jpg">
					<img src="static/img/card06.jpg">
				</label>
				<label class="cbLabel">
					<input type="radio" ng-model="$cbCtrl.cardback" value="card07.jpg">
					<img src="static/img/card07.jpg">
				</label>
				<label class="cbLabel">
					<input type="radio" ng-model="$cbCtrl.cardback" value="card08.jpg">
					<img src="static/img/card08.jpg">
				</label>
				<label class="cbLabel">
					<input type="radio" ng-model="$cbCtrl.cardback" value="card09.jpg">
					<img src="static/img/card09.jpg">
				</label>
				<label class="cbLabel">
					<input type="radio" ng-model="$cbCtrl.cardback" value="card10.jpg">
					<img src="static/img/card10.jpg">
				</label>
				</label>
				<label class="cbLabel">
					<input type="radio" ng-model="$cbCtrl.cardback" value="card11.jpg">
					<img src="static/img/card11.jpg">
				</label>
				<label class="cbLabel">
					<input type="radio" ng-model="$cbCtrl.cardback" value="card12.jpg">
					<img src="static/img/card12.jpg">
				</label>
				<label class="cbLabel">
					<input type="radio" ng-model="$cbCtrl.cardback" value="card13.jpg">
					<img src="static/img/card13.jpg">
				</label>
				<label class="cbLabel">
					<input type="radio" ng-model="$cbCtrl.cardback" value="Horde.jpg">
					<img src="static/img/Horde.jpg">
				</label>
				<label class="cbLabel">
					<input type="radio" ng-model="$cbCtrl.cardback" value="Alliance.jpg">
					<img src="static/img/Alliance.jpg">
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" type="button" ng-click="$cbCtrl.change()">Change</button>
				<button class="btn btn-warning" type="button" ng-click="$cbCtrl.cancel()">Cancel</button>
			</div>
		</script>
	</div>
	<!-- End of Modal -->
</div>