body {
	background-image: url("../img/background.jpg");
	color: lightgrey;
}

/*css for login.html and register.html*/
nav {
	font-size: 17px;
}
	#logo {
		width: 50px;
	}

.body {
	padding-top: 70px;
}
	label {
		font-size: 17px;
	}
	#registerBtn, #loginBtn {
		margin-top: 15px;
	}

/*css for main.html*/
#picture {
	width: 240px;
}

#changeProfile {
	margin-top: 40px;
}
	#changeProfile input {
		margin: 0px 0px 10px 55px;
	}
	#changeProfile div {
		margin-bottom: 5px;
		padding: 10px;
	}

#roomList {
	height: 400px;
	margin: 20px 0px;
	overflow-y: auto;
}
	#roomList button {
		height: 100px;
		word-wrap: break-word;
		white-space: normal;
		margin-bottom: 20px;
	}
	#roomList button p {
		margin: 0px;
	}

#userList {
	height: 350px;
	overflow-y: auto;
}

/*css for game.html*/
#container {
	padding: 20px 0px;
	background-image: url("../img/game_background.jpg");
	background-position: -180px -70px;
}

.player {
	width: 150px;
	height: 150px;
	vertical-align: top;
	display: inline-block;
}
	.player img {
		height: 100px;
		margin-top: 8px;
	}
	.player p {
		color: white;
		margin: 0px;
	}

#top_player {
	margin-left: 158px;
}
	#arrow_right {
		width: 0px;
		height: 0px;
		position: absolute;
		left: 150px;
		top: 55px;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-left: 20px solid rgba(255,255,255,0.2);
		display: inline-block;
	}

#top_hand, #my_hand, #left_hand, #right_hand, #top_player, #left_player, #right_player, #bottom_player {
	border-radius: 25px;
	box-shadow: 0 4px 8px 5px rgba(255,255,255,0.2), 0 6px 20px 5px rgba(255,255,255,0.19);
	position: relative;
	padding: 0px 15px;
}
	#top_hand {
		width: 675px;
		height: 170px;
		margin-left: 25px;
		display: inline-block;
	}

#right_player {
	margin-left: 70px;
}
	#arrow_down {
		width: 0px;
		height: 0px;
		position: absolute;
		left: 60px;
		top: 150px;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid rgba(255,255,255,0.2);
		display: inline-block;
	}

#mid_container {
	width: 1150px;
	margin-left: 99.5px;
}
	#left_hand, #right_hand {
		width: 230px;
		height: 490px;
		display: inline-block;
	}
	#center {
		width: 675px;
		padding: 0px;
		vertical-align: top;
		display: inline-block;
	}
		#gameMsgContainer {
			color: lightgrey;
			height: 180px;
			padding: 0px 15px;
			overflow: hidden;
		}
			.gameMsg {
				margin: 10px 0px 0px 0px;
			}
			.winners {
				margin: 0px 0px 0px 10px;
			}
			.winners:first-child {
				margin-top: 10px;
			}
			#turnTimer {
				width: 140px;
				margin: 0px auto;
			}
		#played {
			width: 675px;
			height: 170px;
			padding: 0px 15px;
			position: relative;
		}
		#discard_pile {
			height: 140px;
			position: relative;
		}

.startingHand, .cardsBottom, .cardsTop, .cardsRight, .cardsLeft, .played {
	width: 100px;
	position: absolute;
}
	.startingHand {
		left: 287.5px;
		top: 15px;
		transition: all 1s ease;
	}
	.cardsBottom {
		top: 13px;
		transition: all 200ms ease;
	}
		.cardsBottom:hover {
			transform: translate(0px, -10px);
			transition: all 200ms ease;
		}
		.selected {
			width: 100px;
			position: absolute;
			top: 3px;
		}
	.cardsTop {
		top: 12px;
		transform: rotate(180deg);
	}
	.cardsLeft {
		right: 40px;
		transform: rotate(90deg);
	}
	.cardsRight {
		left: 40px;
		transform: rotate(-90deg);
	}
	.played {
		top: 15px;
	}
	.discarded {
		width: 70px;
		position: absolute;
	}
		.discarded:hover {
			width: 150px;
			z-index: 1;
			transition: all 200ms ease;
		}

#left_player {
	margin: 30px 0px 0px 98px;
}
	#arrow_up {
		width: 0px;
		height: 0px;
		position: absolute;
		left: 60px;
		top: -20px;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-bottom: 20px solid rgba(255,255,255,0.2);
		display: inline-block;
	}

#my_hand {
	width: 675px;
	height: 170px;
	margin-left: 85px;
	display: inline-block;
}
	#my_hand button {
		margin: 20px 5px;
	}
	#cardbackBtn {
		position: absolute;
		bottom: 10px;
		right: 15px;
	}
	#btn_block {
		display: inline-block;
		vertical-align: top;
	}
		#rules, #leave {
			margin: 20px 0px 0px 20px;
		}
			.popover {
				max-width: 700px;
			}
			.popover-title {
				color: black;
				font-size: 24px;
			}
			#rules_img {
				width: 625px;
				height: 509px;
			}

#bottom_player {
	position: absolute;
	left: 1040px;
	top: 760px;
}
	#arrow_left {
		width: 0px;
		height: 0px;
		position: absolute;
		left: -20px;
		top: 30px;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-right: 20px solid rgba(255,255,255,0.2);
		display: inline-block;
	}

#alert_block {
	width: 675px;
	margin: 10px 0px 0px 337px;
} 

.msgBlock {
	height: 100px;
	padding: 5px;
	border-left: 1px solid lightgrey;
	border-top: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
	border-radius: 4px 4px 0px 0px;
	background-color: black;
	color: lightgrey;
	overflow-y: auto;
}
	#msgBlock2 {
		width: 675px;
		margin: 10px 0px 0px 337px;
	}
	.message {
		margin: 0px;
		white-space: initial;
		overflow: hidden;
	}

#chatInput {
	width: 675px;
	margin-left: 337px;
}
	#chat {
		border-top-left-radius: 0px !important;
		background-color: black;
		color: lightgrey;
	}
	#send {
		border-top-right-radius: 0px !important;
	}

.cbLabel {
	margin: 0px 5px;	
}
	.cbLabel input {
		display: block;
		margin: 5px 0px 5px 43.5px !important;
	}
	.cbLabel img {
		width: 100px;
	}